/*  hover over popup style */
.pup {
  position:absolute;
  z-index:200; /* aaaalways on top*/
  padding: 3px;
  margin-left: 10px;
  margin-top: 5px;
  width: 250px;
  border: 1px solid black;
  background-color: #777;
  color: white;
  font-size: 0.95em;
}
/* test case for the hover over popup */
.testHover{
position: absolute;
left: 120px;
top: 200px;
}

.pup2 {
  position:absolute;
  z-index:200; /* aaaalways on top*/
  padding: 3px;
  margin-left: 10px;
  margin-top: 5px;
  width: 250px;
  border: 1px solid black;
  background-color: red;
  color: white;
  font-size: 0.95em;
}

.pup3 {
  position:absolute;
  z-index:200; /* aaaalways on top*/
  padding: 3px;
  margin-left: 10px;
  margin-top: 5px;
  width: 250px;
  border: 1px solid black;
  background-color: blue;
  color: white;
  font-size: 0.95em;
}

.testHover2{
position: absolute;
left: 120px;
top: 220px;
}

.testHover3{
position: absolute;
left: 120px;
top: 240px;
}
